<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/gallery_birds.css">
  <script src="../js/main.js"></script>




</head>
<body>


  <div w3-include-html="header.html"></div>

  <script>
    includeHTML();
  </script>

  <div class="column_left">
  </div>

  <div class="column_center">
    <div id="gallery"></div>
      <script src="../js/gallery_birds.js"></script> 

  </div>
  <div class="column_right">    
  </div>
  






</body>
</html>


